@model Product

<h1>Deletar Produto</h1>
<hr />
<br />
<h5>
    Deseja mesmo excluir o produto
    <b>
        @Html.DisplayFor(model => model.Name)
    </b> 
    com Preço: 
    <b>
        @Html.DisplayFor(model => model.OriginalPrice)
    </b>
    @(Model.Promotion != null ? "e atualmente em promoção" : "") 
</h5>
<br />
<div class="row">
    <form class="col-3" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-block btn-danger me-2" />
        <a asp-action="Index" class="btn btn-block btn-light btn-outline-dark botaocancelar">Voltar</a>
    </form>
</div>